<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="com.outsystems.sendintentplugin"
	version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>LoginExternalPlugin</name>
	<js-module name="SendIntentPlugin" src="www/SendIntentPlugin.js">
		<clobbers target="cordova.plugins.SendIntentPlugin" />
	</js-module>

	<!-- <preference name="APP_GROUP_NAME"> -->
	
	<platform name="android">
	
		<edit-config xmlns:android="http://schemas.android.com/apk/res/android" file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
			<application android:networkSecurityConfig="@xml/network_security_config" />
		</edit-config>
		
		<resource-file src="network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
		
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="SendIntentPlugin">
				<param name="android-package"
					value="com.outsystems.sendintentplugin.SendIntentPlugin" />
			</feature>
		</config-file>
		
		<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
		
		 <!--<edit-config parent="/manifest" target="AndroidManifest.xml" mode="merge">
			<manifest android:sharedUserId="$APP_GROUP_NAME"/>
		</edit-config> -->
		<source-file src="src/android/SendIntentPlugin.java"
			target-dir="src/com/outsystems/sendintentplugin" />
	</platform>
</plugin>